<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wvd.saas.rbac.web.mapper.FmMenuResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wvd.saas.rbac.web.entity.FmMenuResource">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="resource_name" property="resourceName" />
        <result column="resource_type" property="resourceType" />
        <result column="resource_url" property="resourceUrl" />
        <result column="resource_method" property="resourceMethod" />
        <result column="resource_desc" property="resourceDesc" />
        <result column="is_del" property="isDel" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id AS parentId, resource_name AS resourceName, resource_type AS resourceType, resource_url AS resourceUrl, resource_method AS resourceMethod, resource_desc AS resourceDesc, is_del AS isDel, create_time AS createTime, create_user AS createUser, update_time AS updateTime, update_user AS updateUser
    </sql>

</mapper>
