<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wvd.saas.rbac.web.mapper.FmOrganizationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wvd.saas.rbac.web.entity.FmOrganization">
        <id column="id" property="id" />
        <result column="org_name" property="orgName" />
        <result column="org_code" property="orgCode" />
        <result column="org_level" property="orgLevel" />
        <result column="parent_id" property="parentId" />
        <result column="seq" property="seq" />
        <result column="is_del" property="isDel" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, org_name AS orgName, org_code AS orgCode, org_level AS orgLevel, parent_id AS parentId, seq, is_del AS isDel, create_time AS createTime, create_user AS createUser, update_time AS updateTime, update_user AS updateUser
    </sql>

</mapper>
