<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wvd.saas.rbac.web.mapper.FmPasswordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wvd.saas.rbac.web.entity.FmPassword">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="account_id" property="accountId" />
        <result column="user_password" property="userPassword" />
        <result column="password_expired_time" property="passwordExpiredTime" />
        <result column="login_error_count" property="loginErrorCount" />
        <result column="login_error_expired_time" property="loginErrorExpiredTime" />
        <result column="is_locked" property="isLocked" />
        <result column="is_active" property="isActive" />
        <result column="is_del" property="isDel" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, account_id AS accountId, user_password AS userPassword, password_expired_time AS passwordExpiredTime, login_error_count AS loginErrorCount, login_error_expired_time AS loginErrorExpiredTime, is_locked AS isLocked, is_active AS isActive, is_del AS isDel, create_time AS createTime, create_user AS createUser, update_time AS updateTime, update_user AS updateUser
    </sql>
</mapper>
